@model Jeff.Model.View.BioForm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Bio_Container">
    <img id="Bio_Image" alt="Jeff" src="@Url.Content("~/Content/images/bio.jpg")"/>
    <article>
        @Html.Raw(Model.BioText)
    </article>
</div>
