@model Jeff.Model.View.BioView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Bio_Container">
    <div id="bio_image_pane">
        <img id="Bio_Image" alt="Jeff" src="@Url.Content("~/Content/images/BioPagePic.jpg")"/>
    </div>
    <div id="bio_content">
        <div id="scrollbar1">
        <div class="scrollbar">
            <div class="track">
                <div class="thumb">
                    <div class="end"></div>
                </div>
            </div>
        </div>
        <div class="viewport">
            <div class="overview">
                @Html.Raw(Model.BioText)
            </div>
        </div>
    </div>    
    </div>
    
</div>

@section ScriptIncludes
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#scrollbar1').tinyscrollbar();
        });
    </script>
}

