@model Jeff.Model.View.BioView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Bio_Container">
    @*<img id="Bio_Image" alt="Jeff" src="@Url.Content("~/Content/images/bio.jpg")"/>*@
    <div id="bioArticle" class="bioArticle">
        @Html.Raw(Model.BioText)
    </div>
</div>

@section ScriptIncludes
{
    <script type="text/javascript">
        $(function () {
            $('.bioArticle').jScrollPane();
            alert($('#bioArticle').css('overflow'));
        });
    </script>  
}

