JeffWeb/_ReSharper.JeffWeb/*
JeffWeb/JeffWeb/obj/*
JeffWeb/JeffWeb/bin/JeffWeb.dll
JeffWeb/JeffWeb/obj/Debug/*
*.pdb
JeffWeb/JeffWeb/obj/Debug/*
JeffWeb/Jeff.Data/bin/Debug/*
JeffWeb/Jeff.Data.Test/obj/*
JeffWeb/Jeff.Data.Test/bin/Debug/*
JeffWeb/JeffWeb.v11.suo
JeffWeb/Jeff.Data/bin/Debug/*
JeffWeb/Jeff.Data/obj/Debug/*
*.pdb
JeffWeb/Jeff.Data/bin/Debug/*
JeffWeb/Jeff.Data/obj/Debug/*
JeffWeb/JeffWeb/bin/Jeff.Data.dll
JeffWeb/Jeff.Model/obj/Debug/J*
JeffWeb/Jeff.Model/bin/Debug/*
