@model Jeff.Model.View.VoiceForm
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content_audio">
    <table>
        @foreach(var item in Model.Items)
        {
            <tr>
                <td>@item.Key</td>
            </tr>
            <tr>
                <td>
                    <div class="audio"><audio src="@Url.Content("~/Content/Media/" + @item.Value)" controls></audio></div>
                </td>
            </tr>
        }
    </table>

</div>