@model Jeff.Model.View.VoiceForm
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content_audio">
    @foreach(var item in Model.Items)
    {
        @Html.Raw(item.Value)
    }

</div>