@model Jeff.Model.View.AdminForm
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Jeffrey A. Wisniewski | Admin</title>
</head>
    <body>
        @using(Html.BeginForm("Save","Admin"))
        {
            <div>
                <h2>JeffreyAWisniewski.com | Admin Controls</h2>
                
                <Fieldset id="Admin_Email">
                    <legend>Email Address</legend>
                    @Html.TextBoxFor(m => m.EmailAddress)
                </Fieldset>
                <Fieldset id="Bio_Text">
                    <legend>Bio Text</legend>
                    @Html.TextAreaFor(m => m.BioText, new{cols = 120, rows=50})
                </Fieldset>
                
                <input type="submit" value="Save" />
            </div>
        }
    </body>
</html>
