body {
    color:#E5E5E5;background-color:rgb(64,64,64);
}


header,
footer
{
    display: block;
}

#main_container{ width: 800px; margin-left: auto; margin-right: auto; }
#logo{ float: left;}
#nav{ float: right;}