@model Jeff.Model.View.ItemListView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @foreach (var item in Model.Items)
    {
        <h2>@item.Key</h2>
        <iframe src="http://player.vimeo.com/video/@item.Value" style="width: 800PX; height: 414PX;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    }
    <h2>IBM Webspot</h2>
    <iframe  style="width: 800PX; height: 414PX;" src="http://www.youtube.com/embed/bxx9MBP9rxM" frameborder="0" allowfullscreen></iframe>
    <a name="webspot">
</div>
