@model Jeff.Model.View.HomeView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main_img_div">
    <div id="film_link">
        @Html.ActionLink("View Reel","Index","Video")
    </div>
</div>
<div style="float: right; width: 450px; padding: 10px 10px;">
    @Html.Raw(Model.HomeHtml)
</div>
