@model Jeff.Model.View.HomeView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="float: left; width: 324px;">
    <img src="@Url.Content("~/Content/Images/Left_banner_sm.jpg")"/>
</div>
<div style="float: right; width: 450px; padding: 10px 10px;">
    @Html.Raw(Model.HomeHtml)
</div>
