body{ background-color: #404040 ;color: #E5E5E5; font-family: Georgia}

body A:link {color: #E5E5E5;text-decoration: none;}
body A:visited{color: #E5E5E5;text-decoration: none;}
body A:active{color: #E5E5E5;text-decoration: none;}
body A:hover{color: #E5E5E5;text-decoration: underline;}

#Main_Container{ width: 800px;margin-left: auto; margin-right: auto}

header{border-bottom: #878787 solid 2px;}
header #Logo{ width: 200px;}
header #Navigation{text-align: right;}

/*#Content_Container{}*/
footer{ text-align: center;font-size: 8pt;border-top: #878787 solid 2px;padding-top: 10px;clear: both;}

#main_img_div {
    float: left; 
    width: 324px;
    height: 400px;
    background-image:url('../content/images/Left_banner_sm.jpg');
}

#film_link {
    height: 40px;
    border-bottom: 1px solid #004A7F;
    border-top: 1px solid #004A7F;
    border-left: 1px solid #004A7F;
    background-color: #404040; color: #fff; margin-top: 330px; margin-left: 180px;
    font-size: 29px;
    font-family: Monotype Corsiva;
    padding: 2px 0 0 15px;
}

#Contact_Content{}
#Contact_Content address{ font-size: 20pt;text-align: center;padding-top: 20px;padding-bottom: 20px;}
#Contact_Content #Contact_Or_Break{ text-align: center;}
#Contact_Content #Contact_Form{text-align: center; padding-left: 50px;padding-right: 50px;padding-bottom: 50px; width: 800px;}

#Contact_Content #Contact_Form table { width: 50%;text-align: center;}
#Contact_Content #Contact_Form input[type="submit"]
{ 
    background-color: #E2E2E2;
    width: 100px;
    height: 25px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#Contact_Content #Contact_Form input[type="submit"]:hover{ text-decoration: underline;}
#Contact_Content #Contact_Form input[type="submit"]:focus{background-color: #E2E2E2;}
#Contact_Content #Contact_Form input[type="submit"]:active{text-decoration: underline;}

#bio_image_pane {
    float: left;width: 270px;margin-top: 20px;margin-left: 10px;
}

#bio_content{ float: right;width: 520px;line-height: 150%;}

td.contact_label{ text-align: right;}
td.contact_field{ width: 300px;text-align: left;}

#content_audio{clear: both; height:597px;padding: 20px 20px 20px 20px;  background-image:url('../content/images/audio_bg_wide.jpg');}
#content_audio.audio{ text-align: right;}
/*#content_video{clear: both; width:800px;height:450px;  border-top: solid 2px; border-bottom: solid 2px; background-image:url('../images/film_bg.jpg');}*/

/*#Bio_Container article{ padding: 10px;}*/
/*#Bio_Image{ float: left;padding: 5px;}*/

#Gallery_tbl img{ border-collapse: collapse;border: 0;margin: 0;padding: 0;display: block;float: left;}

.gallery_thumb{ width: 200px;height: 150px;}

.reviewGroup {
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1pt solid #567387;
    margin-bottom: 10px;
    padding: 0px 10px 10px 10px;
}

.reviewText {
    font-family: Palatino Linotype;
    color: #C0C0C0;
    font-size: 12pt;
}

.reviewCredit {
    padding-left: 25px;
}

.Center{ text-align: center;padding-top: 20px;}

/*scrollbar crap*/
#scrollbar1 { width: 520px; clear: both; margin: 20px 0 10px; }
#scrollbar1 .viewport {width: 500px; height: 500px; overflow: hidden; position: relative; }
#scrollbar1 .overview  { list-style: none; position: absolute; left: 0; top: 0;font-size: 10pt; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #fff0f5; }
#scrollbar1 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar1 .track { background-color: #404040; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

                    
