@model List<Jeff.Model.Domain.Gallery>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var rowCounter = 1;
}

<div id="Gallery_Container">
    
    @foreach (var gallery in Model)
    {
        <h2>@gallery.Name</h2>
        
        <table>
            <tbody>
                @{ rowCounter = 1;}
                @foreach (var photo in gallery.FileNames)
                {
                    var modVal = rowCounter % 4;
                    if (modVal == 1)
                    {
                        @:<tr>
                    }
                    <td>
                        <a href="@Url.Content("~/Content/Media/Photos/" + gallery.Name + "/" + photo)" class="lightbox">
                            <img class="gallery_thumb" src="@Url.Content("~/Content/Media/Photos/" + gallery.Name + "/Thumbs/" + photo)" />
                        </a>
                    </td>
                    
                    if (modVal == 0)
                    {
                        @:</tr> 
                
                    }
                    rowCounter++;
                }    

            </tbody>
        </table>
    }

    
</div>

@section ScriptIncludes
{
    <script src="@Url.Content("~/Scripts/jquery.lightbox-0.5.js")" type="text/javascript" ></script>    

    <script type="text/javascript">
     $().ready(function () {
         $('a.lightbox').lightBox({ fixedNavigation: true });
     });
</script>
}


