@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Gallery_Container">
    <table id="Gallery_tbl" style="border-collapse: collapse;">
        <tr>
            <td>
                <img src="@Url.Content("~/Content/images/Gallery/1.jpg")"/>
            </td>
            <td>
                <img src="@Url.Content("~/Content/images/Gallery/2.jpg")"/>
                <img src="@Url.Content("~/Content/images/Gallery/3.jpg")"/>
                <img src="@Url.Content("~/Content/images/Gallery/4.jpg")"/>
            </td>
        </tr>
    </table>
</div>
