@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Gallery_Container">
    <table>
        <tr>
            <td>
                <img src="@Url.Content("~/App_Data/Content/Gallery/1.jpg")"/>
            </td>
            <td>
                <img src="@Url.Content("~/App_Data/Content/Gallery/2.jpg")"/>
                <img src="@Url.Content("~/App_Data/Content/Gallery/3.jpg")"/>
                <img src="@Url.Content("~/App_Data/Content/Gallery/4.jpg")"/>
            </td>
        </tr>
    </table>
</div>
